.my-info{
    display: flex;
    justify-content: center;
}

.my-info__body-title{
    color: blueviolet;
    margin: auto;
}

.my-info__body-about-me{
    color: blueviolet;
}

.my-info__body{
    margin: auto;
    flex-direction: column;
}


